<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
    <% messages.forEach((message) => { %>
      <h3><%= message.user %></h3>
      <h4><%= message.text %></h4>
      <p><%= message.added %></p>
      <br>
    <% }) %>
    <h2><a href="/new">Add new message</a></h2>
  </body>
</html>
